<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>{{gameId}} - Quipple</title>
    </head>
    <body>
        <h1>Lobby</h1>
        <h2>Game ID: {{gameId}}</h2>
        <h3>Current Players</h3>
    </body>
</html>
