<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Quipple</title>
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">
    </head>
    <body>
        <h1>Quipple</h1>
        <form action="/join" method="POST">
            <label>
                Screen Name:
                <input name="screenName" type="text" minlength="3" maxlength="20" spellcheck="false">
            </label>
            <label>
                Game ID (if joining):
                <input name="gameIdToJoin" type="text" maxlength="5" spellcheck="false">
            </label>
            <button name="start" value="start" type="submit">Start New Game</button>
            <button name="join" value="join" type="submit">Join Game</button>
        </form>
    </body>
</html>
